[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
strawberry = "*" # "strawberry-graphql[fastapi]"
uvicorn = {extras = ["standard"], version = "*"}
peewee = "*"
peewee-migrations = "*"
jinja2 = "*"

[dev-packages]
mypy = "*"

[scripts]
dev = ""
prod = ""

[requires]
python_version = "3.9"
